body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { line-height: 1.4em; color: #7f8c97; padding-bottom: 15px; font-weight: normal; }

h1 { font-size: 3em;  padding: 15px 0px 20px 0}
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: .8em; }

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv address, .cv p { font-size: 1.2em; }
.cv .download { float: right; font-size: .8em; text-transform: uppercase; }

/* Home */
/* Source: https://stackoverflow.com/questions/5195836/2-column-div-layout-right-column-with-fixed-width-left-fluid#5195902 */

.blurb { margin: 0px 0px 60px; }
.blurb h1 { font-size: 3em; }
.blurb h2 { font-size: 2em; }
.blurb p { font-size: 1.2em; }
	
.homepage {
   height: auto;
   overflow: hidden;
}

.left {
    width: 250px;
    float: left;
	font-size: .8em;
}

.right {
    float: none; /* not needed, just for clarification */
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
    padding: 0 0 0 1.6em;
}

/* About */

.about { margin: 0px 0px 60px; }
.about h1 { font-size: 3em; }
.about h2 { font-size: 2em; }
.about p { font-size: 1.2em; }
