<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to stylesheet vertical timeline-->
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1">

			<link href='https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>

			<link rel="stylesheet" href="/css/reset.css"> <!-- CSS reset -->
			<link rel="stylesheet" href="/css/style.css"> <!-- Resource style -->
			<script src="/js/modernizr.js"></script> <!-- Modernizr -->
			
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="/credits">Credits</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="http://pjastam.github.io/blog/atom.xml">My blog's RSS Feed</a></li>
	        		<li><a href="http://www.zotero.org/pjastam">My publications</a></li>
		        	<li><a href="/phdthesis">PhD Thesis</a></li>
	        		<li><a href="http://www.linkedin.com/in/pjastam">LinkedIn</a></li>
					    <li><a href="http://twitter.com/pjastam">Twitter</a></li>
	        		<li><a href="http://github.com/pjastam">GitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
