<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<!--<li><a href="/projects">Projects</a></li>-->
	        		<!--<li><a href="/credits">Credits</a></li>--><!-- Include the list with open source software that I used in the past-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/pjastam">github.com/pjastam</a></li>
	        		<li><a href="https://www.linkedin.com/in/pjastam">linkedin.com/in/pjastam</a></li>
					<li><a href="https://twitter.com/pjastam">twitter.com/pjastam</a></li>
				</ul>
			</footer>
		</body>
	</html>
